$s-arrow: 88px 53px -88px -53px 13px 22px 109px 77px 'sprite.png';
$s-ico-facebook: 88px 21px -88px -21px 13px 32px 109px 77px 'sprite.png';
$s-ico-inst: 34px 0px -34px 0px 32px 32px 109px 77px 'sprite.png';
$s-ico-mail: 0px 60px 0px -60px 26px 17px 109px 77px 'sprite.png';
$s-ico-print: 0px 0px 0px 0px 34px 34px 109px 77px 'sprite.png';
$s-ico-tel: 88px 0px -88px 0px 21px 21px 109px 77px 'sprite.png';
$s-ico-twitter: 0px 34px 0px -34px 34px 26px 109px 77px 'sprite.png';
$s-radio-btn-a: 34px 34px -34px -34px 22px 26px 109px 77px 'sprite.png';
$s-radio-btn-error: 66px 0px -66px 0px 22px 26px 109px 77px 'sprite.png';
$s-radio-btn: 66px 26px -66px -26px 22px 26px 109px 77px 'sprite.png';
